<p *ngIf ="datasaved" ngClass="success" align ="right">
    {{message}}
  </p>
<section class="cmspage mtb-40">
    <div class="container">
      <div class="page-desc">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h1>Contact</h1>
            <form [formGroup]="ContactForm" (ngSubmit)="onFormSubmit(ContactForm.value)">
              <div class="form-group">
                <input type="text" formControlName="Name" class="form-control" placeholder="Name">
                <span *ngIf="!ContactForm.get('Name').valid && ContactForm.get('Name').touched">Name is Required</span>
          
              </div>
              <div class="form-group">
                <input type="text" formControlName="Email" class="form-control" placeholder="E-Mail">
                <span *ngIf="!ContactForm.get('Email').valid && ContactForm.get('Email').touched">Email is Required</span>
          
              </div>
              <div class="form-group">
                <input type="text" formControlName="Mobile" class="form-control" placeholder="Phone">
                <span *ngIf="!ContactForm.get('Mobile').valid && ContactForm.get('Mobile').touched">Mobile is Required</span>
          
              </div>
              <div class="form-group">
                <textarea formControlName="Message" rows="5" class="form-control" placeholder="Message"></textarea>
                <span *ngIf="!ContactForm.get('Message').valid && ContactForm.get('Message').touched">Message is Required</span>
              </div>
              <div class="form-group">
                <button class="btn btn-success" >Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  